.block {
    display: flex;
    justify-content: space-around;
}
.text {
    display: flex;
    font-family: Lora, serif;
    text-decoration: inherit!important;
    width: 32.79311em;
    height: 24.88938em;
    z-index: 1;
    border-radius: 2px;
    text-align: left;
    text-transform: unset;
    }


img {
    height: 24.88938em;
}