.block {
    display: flex;
    justify-content: center;
}
.text {
    display: flex;
    text-decoration: inherit!important;
    width: 32.79311em;
    height: 24.88938em;
    position-top: 12.73292em;
    position-left: 7.81255em;
    rotateDeg: 0deg;
    z-index: 1;
    border-radius: 0px;
    text-vertical-align: flex-start;
    text-align: left;
    }

ul a{
    text-decoration: none;
    color: black;
}

ul li{
    text-decoration: none;
    list-style-type:none
}
