.app-wrapper {
    display: grid;
    grid-template-areas: "";
}


.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    background-color: blanchedalmond;
    
}

.nav-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    width: 55px;
}
.navbar-logo {
    display: flex;
}
.nav-menu {
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    padding: 30px;
}
.nav-menu a{
    padding: 10px;
    text-decoration: none;
}
.content {
    display: grid;
    height: 500px;
    background-color: cadetblue;
}
.footer {
    display: flex;
    justify-content: center;
    background-color: gray;
}